# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build resultados
bin/
obj/

# Archivos de paquetes
*.nupkg
*.snupkg

# Logs
*.log

# Configuración de cobertura de código
.coverage
*.coveragexml

# Archivos de análisis
*.vsix
*.pdb

# Configuración de Rider y otros IDEs
.idea/

# Archivos temporales
*.tmp
*.temp

# Archivos específicos de Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de paquetes NuGet
packages/
.nuget/

# Archivos publicados
publish/

# Archivos generados por IIS Express
.IISExpress/

# Archivos de Test Explorer
TestResults/

# JetBrains Rider
.idea/

# Archivos generados por Azure Pipelines
.azure-pipelines/

# Configuración de Resharper
_ReSharper*/

# Configuración de VS Code
.vscode/
